<?xml version="1.0" encoding="UTF-8"?>


<Configuration status="WARN">
<Properties>
<Property name="basePath">./logs</Property>
</Properties>
  <Appenders>
<RollingFile
  name="File" 
  fileName="$(basePath)/prints.log" 
  filePattern="${LOG_DIR}/application.%i.log.gz" //// name of new file after max storage is reached
  ignoreExceptions="false">
  <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
  <Policies>
      <SizeBasedTriggeringPolicy size="500KB" />
  </Policies>
  <DefaultRolloverStrategy max="5" />
</RollingFile>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
   <Logger name="alpha.Demo" level="error" additivity="false">
      <AppenderRef ref="File"/> // it will refer to the file 
    </Logger>
    <Root level="trace">
      <AppenderRef ref="File"/> // it will refer to the file
    </Root>
  </Loggers>
</Configuration>